/Projects/Homework_02/minman_integers/nbproject/private/
/Projects/Homework_02/minmax_integers/nbproject/private/
/Projects/Homework_02/MinMax_Integers/nbproject/private/
/Projects/Homework_02/MinMax_Integers/build/
/Projects/Homework_02/MinMax_Integers/dist/
/Projects/Homework_02/hw2_minmax/nbproject/private/
/Projects/Homework_02/hw2_minmax/build/
/Projects/Homework_02/hw2_minmax/dist/
/Projects/class_9_26_18/nbproject/private/
/Projects/class_9_26_18/build/
/Projects/Homework_03/hw3_pennies_for_pay/nbproject/private/
/Projects/Homework_03/hw3_pennies_for_pay/build/
/Projects/Homework_03/hw3_pennies_for_pay/dist/
/Projects/Homework_02/PerfectNumbers/nbproject/private/
/Projects/Homework_02/PerfectNumbers/build/
/Projects/Homework_04/PerfectNumbers/build/
/Projects/Homework_04/PerfectNumbers/nbproject/private/
/Projects/Homework_04/PerfectNumbers/dist/
/Projects/Homework_05/Summers-Bradley-[[]#5-ArrayStatistics]/nbproject/private/
/Projects/Homework_05/Summers-Bradley-[[]#5-ArrayStatistics]/build/
/Projects/Homework/Homework_05/Summers-Bradley-[[]#5-ArrayStatistics]/nbproject/private/
/Projects/Homework/Homework_05/Summers-Bradley-[[]#5-ArrayStatistics]/build/
/Projects/Homework/Homework_05/Summers-Bradley-[[]#5-ArrayStatistics]/dist/
/Fractions/nbproject/private/
/Projects/fractions/build/
/Projects/Homework/Homework_06/Summers_Bradley_MonthDays/dist/